html, body, #root {
  height: 100%;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff1f1; 
  border-radius: 4px;

}
 
::-webkit-scrollbar-thumb {
  background: #ced8ea; 
  border-radius:4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cd9494; 
}
 